<html>
  <head>
    <title>Silver Mangement</title>
    <style>
      td { color: yellow; align: center; text-align: center;}
      th { color: #FF0000; text-align: center;}
      table, th, td { border: 1px solid yellow; border-collapse: collapse; font-size: 20}
      tr:nth-child(even) {background-color: #304254;}
      .tabs {
        list-style: none; 
        position: relative; 
        margin: 0;
        padding: 0;
        width: 100%;  
        font-family: sans-serif
      }
      .tabs li { display: inline-block; }
      .tabs input[type="radio"] { display: none; }
      .tabs label { display: block; cursor: pointer; padding: 10px 15px; border: 2px solid yellow; border-bottom: 0; border-radius: 3px 3px 0 0; }
      .tabs .tab-panel {  display: none; overflow: hidden; width: 100%; position: absolute; left: 0; border-top: 2px solid yellow; }
      .tabs [id^="tab"]:checked + label { background-color: red; color: #fff; }
      .tabs [id^="tab"]:checked ~ [id^="tab-panel"] { display: block; }
      img { width: 25%; height: auto; }
      .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button1 {background-color: #04AA6D;} /* Green */
      .button2 {background-color: #008CBA;} /* Blue */
      .button3 {background-color: #f44336;} /* Red */
      .button4 {background-color: #e7e7e7; color: black;} /* Gray */
      .button5 {background-color: #555555;} /* Black */
    </style>
  </head>
  <body>
    
    <body style="background-color: #121212;">
    <font color="yellow">
      <center><h1>Silver Stats</h1></center>
      <% @silver = Inventory.new %>
      <center>
      <%
        bar     = @silver.select_total_oz(1) # 1: Bar
        junk    = @silver.select_total_oz(2) # 2: Junk
        bullion = @silver.select_total_oz(3) # 3: Bullion
        gold    = @silver.select_total_oz(5) # 5: Gold
        bar_amount     = Silver.get_silver_price(bar)     # Add amount of bars to the current price of Silver
        junk_amount    = Silver.get_silver_price(junk)    # Add amount of Junk to the current price of Silver
        bullion_amount = Silver.get_silver_price(bullion) # Add amount of Bullion to the current price of Silver
        gold_amount    = Silver.get_gold_price(gold)      # Add amount of Gold to the current price of Gold 
        total          = bar + junk + bullion
        amount_all     = bar_amount + junk_amount + bullion_amount 
      
      %>
      <table style="width:50%" border="1" align="center">
        <tr>
          <th>Type</th>
          <th>Amount OZ</th>
          <th>USD Total</th>
        </tr>
        <tr>
          <td><font color="white">Bar</font></td>
          <td><%= @silver.select_total_oz(1).round(2) %> oz</td>
          <td><font color="#1CE815">$<%= Silver.get_silver_price(bar).round(2) %></font></td>
        </tr>
        <tr>
          <td><font color="white">Junk</font></td>
          <td><%= @silver.select_total_oz(2).round(2) %> oz</td>
          <td><font color="#1CE815">$<%= Silver.get_silver_price(junk).round(2) %></font></td>
        </tr>
        <tr>
          <td><font color="white">Bullion</font></td>
          <td><%= @silver.select_total_oz(3).round(2) %> oz</td>
          <td><font color="#1CE815">$<%= Silver.get_silver_price(bullion).round(2) %></font></td>
        </tr>
        <tr>
          <td><font color="white">Total</font></td>
          <td><%= total  .round(2) %> oz</td>
          <td><font color="#1CE815">$<%= Silver.get_silver_price(total).round(2) %></font></td>
        </tr>
      </table>
      <br><br><br>
        <ul class="tabs">
          <li>
            <input id="tab1" type="radio" name="tabs" checked />
            <label for="tab1">Bar Silver</label>
            <div id="tab-panel1" class="tab-panel">
              <h1><center>Select Bars Silver</center></h1> 
              <table style="width:100%" border="1" align="center">
                <tr>
                  <th>ID</th>
                  <th>Bought Date</th>
                  <th>Spot Price</th>
                  <th>Amount</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Total</th>
                  <th>OZ</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Sold Value</th>
                  <th>Seller</th>
                  <th>Method</th>
                </tr>
                <% bar =  @silver.select(1, html_table: true) %>
                <% bar.each do |i| %>
                <tr>
                  <td><font color="white"><%= i[0] %></font></td>
                  <td><font color="white"><%= i[1] %></font></td>
                  <td><font color="white"><%= i[2] %></font></td>
                  <td><font color="white"><%= i[3] %></font></td>
                  <td><font color="white"><%= i[4] %></font></td>
                  <td><font color="white"><%= i[5] %></font></td>
                  <td><font color="white"><%= i[6] %></font></td>
                  <td><font color="white"><%= i[7] %></font></td>
                  <td><font color="white"><%= i[8] %></font></td>
                  <td><font color="white"><%= i[9] %></font></td>
                  <td><font color="white"><%= i[10] %></font></td>
                  <td><font color="white"><%= i[11] %></font></td>
                  <td><font color="white"><%= i[12] %></font></td>
                </tr>
                <% end %>
              </table>
              <h1>Bar Silver Method of Purchase</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Method</th>
                  <th>Count</th>
                </tr>
                <% bar = @silver.select_method(1, html_table: false) %>
                <% bar.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Bar Shipping Information</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Total Cost</th>
                  <th>Average</th>
                  <th>Count  </th>
                </tr>
                <% bar_shipping       = @silver.shipping_total(1)  %>
                <% avg_bar_shipping   = @silver.shipping_avg(1)    %>
                <tr>
                  <td><font color="white"><%= bar_shipping          %></font></td>
                  <td><font color="white"><%= avg_bar_shipping[0]   %>  </font></td>
                    <td><font color="white"><%= avg_bar_shipping[1] %>  </font></td>
                </tr>
              </table>
              <br><br>
              <h1>Bars Silver Average Price</h1>
              <% bar_price_avg =  @silver.select_price_avg(1) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Price</th>
                </tr>
                <tr>
                  <td><font color="white"><%= bar_price_avg %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Bars Sold Total</h1>
              <% bar_sold_total = @silver.sold_total(1) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Sold Value</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= bar_sold_total %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Bar Sold vs Own</h1>
              <% bar_sold =  @silver.sold_own %>
              <% oz_bar_sold_total = @silver.sold_oz_total(1)%>
              <% bar_usd = Silver.get_silver_price(oz_bar_sold_total) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Own</th>
                  <th>Sold</th>
                  <th>Sold OZ Total</th>
                  <th>USD Sold Total</th>
                </tr>
                <tr>
                  <td><font color="white"><%= bar_sold[0]    %></font></td>
                  <td><font color="white"><%= bar_sold[2]    %></font></td>
                  <td><font color="white"><%= bar_sold_total %></font></td>
                  <td><font color="white">$<%= bar_usd        %></font></td>
                </tr>
              </table>
              <h1>Spot Average</h1>
              <% bars_spot_avg = @silver.spot_avg(1) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Spot Price</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= bars_spot_avg[0]    %></font></td>
                  <td><font color="white"><%=  bars_spot_avg[1]    %></font></td>
                </tr>
              </table>
              <% status = ENV['DB'] %>
              <% if !status.eql?("test2.db") %>
              <b><font color="red">DEV mode</b></font>
              <% else %>
              <b><font color="green">PROD mode</b></font>
              <% end %>
              <br><br>
            </div>
          </li>
          <li>
            <input id="tab2" type="radio" name="tabs" checked />
            <label for="tab2">Junk Silver</label>
            <div id="tab-panel2" class="tab-panel">
              <h1><center>Select Junk Silver</center></h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>ID</th>
                  <th>Bought Date</th>
                  <th>Spot Price</th>
                  <th>Amount</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Total</th>
                  <th>OZ</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Sold Value</th>
                  <th>Seller</th>
                  <th>Method</th>
                </tr>
                <% junk =  @silver.select(2, html_table: true) %>
                <% junk.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                    <td><font color="white"><%= i[2] %></font></td>
                    <td><font color="white"><%= i[3] %></font></td>
                    <td><font color="white"><%= i[4] %></font></td>
                    <td><font color="white"><%= i[5] %></font></td>
                    <td><font color="white"><%= i[6] %></font></td>
                    <td><font color="white"><%= i[7] %></font></td>
                    <td><font color="white"><%= i[8] %></font></td>
                    <td><font color="white"><%= i[9] %></font></td>
                    <td><font color="white"><%= i[10] %></font></td>
                    <td><font color="white"><%= i[11] %></font></td>
                    <td><font color="white"><%= i[12] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Junk Silver Method of Purchase</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Method</th>
                  <th>Count</th>
                </tr>
                <% junk = @silver.select_method(2, html_table: false) %>
                <% junk.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Junk Shipping Information</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Total Cost</th>
                  <th>Average</th>
                  <th>Count  </th>
                </tr>
                <% total_junk_shipping = @silver.shipping_total(2)   %>
                <% avg_junk_shipping   = @silver.shipping_avg(2)     %>
                  <tr>
                    <td><font color="white"><%= total_junk_shipping  %>  </font></td>
                    <td><font color="white"><%= avg_junk_shipping[0] %>  </font></td>
                    <td><font color="white"><%= avg_junk_shipping[1] %>  </font></td>
                  </tr>
              </table>
              <br><br>
              <h1>Junk Silver Average Price</h1>
              <% junk_price_avg =  @silver.select_price_avg(2) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Price</th>
                </tr>
                <tr>
                  <td><font color="white"><%= junk_price_avg %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Sold Total</h1>
              <% sold_total = @silver.sold_total(2) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Sold Value</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= sold_total %></font></td>
                </tr>
              </table>
              <br><br>
              <h1><center>Franklin Half Dollars</center></h1>
              <% Silver.franklins(html_table: true) %> 
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Franklin Half Dollars Count</th>
                  <th>Silver Amount</th>
                  <th>Silver Amound in USD</th>
                </tr>
                <tr>
                  <td><font color="white"><%= Silver.franklins(html_table: true)[0] %></font></td>
                  <td><font color="white"><%= Silver.franklins(html_table: true)[1] %> OZ</font></td>
                  <td><font color="#1CE815">$<%= Silver.get_silver_price(Silver.franklins(html_table: true)[1]).round(2) %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Junk Sold vs Own</h1>
              <% junk_sold =  @silver.sold_own %>
              <% junk_sold_total = @silver.sold_oz_total(2)%>
              <% junk_usd = Silver.get_silver_price(junk_sold_total) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Own</th>
                  <th>Sold</th>
                  <th>Sold OZ Total</th>
                  <th>USD Sold Total</th>
                </tr>
                <tr>
                  <td><font color="white"><%= junk_sold[1]    %></font></td>
                  <td><font color="white"><%= junk_sold[3]    %></font></td>
                  <td><font color="white"><%= junk_sold_total %></font></td>
                  <td><font color="white">$<%= junk_usd       %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Spot Average</h1>
              <% bars_spot_avg = @silver.spot_avg(2) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Spot Price</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= bars_spot_avg[0]    %></font></td>
                  <td><font color="white"><%=  bars_spot_avg[1]    %></font></td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <input id="tab3" type="radio" name="tabs" checked />
            <label for="tab3">Bullion Silver</label>
              <div id="tab-panel3" class="tab-panel">
              <h1><center>Select Bullions Silver</center></h1> 
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>ID</th>
                  <th>Bought Date</th>
                  <th>Spot Price</th>
                  <th>Amount</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Total</th>
                  <th>OZ</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Sold Value</th>
                  <th>Seller</th>
                  <th>Method</th>
                </tr>
                <% bull =  @silver.select(3, html_table: true) %>
                <% bull.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                    <td><font color="white"><%= i[2] %></font></td>
                    <td><font color="white"><%= i[3] %></font></td>
                    <td><font color="white"><%= i[4] %></font></td>
                    <td><font color="white"><%= i[5] %></font></td>
                    <td><font color="white"><%= i[6] %></font></td>
                    <td><font color="white"><%= i[7] %></font></td>
                    <td><font color="white"><%= i[8] %></font></td>
                    <td><font color="white"><%= i[9] %></font></td>
                    <td><font color="white"><%= i[10] %></font></td>
                    <td><font color="white"><%= i[11] %></font></td>
                    <td><font color="white"><%= i[12] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Bullion Silver Method of Purchase</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Method</th>
                  <th>Count</th>
                </tr>
                <% bullion = @silver.select_method(3, html_table: false) %>
                <% bullion.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Bullion Shipping Information</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Total Cost</th>
                  <th>Average</th>
                  <th>Count  </th>
                </tr>
                <% bullion_shipping    = @silver.shipping_total(3)   %>
                <% avg_bull_shipping   = @silver.shipping_avg(3)     %>
                  <tr>
                    <td><font color="white"><%= bullion_shipping     %>  </font></td>
                    <td><font color="white"><%= avg_bull_shipping[0] %>  </font></td>
                    <td><font color="white"><%= avg_bull_shipping[1] %>  </font></td>
                  </tr>
              </table>
              <br><br>
              <h1>Bullion Silver Average Price</h1>
              <% bullion_price_avg =  @silver.select_price_avg(2) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Price</th>
                </tr>
                <tr>
                  <td><font color="white"><%= bullion_price_avg %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Bullion Sold Total</h1>
              <% bullion_sold_total = @silver.sold_total(2) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Sold Value</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= bullion_sold_total %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Bullion Sold vs Own</h1>
              <% sold =  @silver.sold_own %>
              <% bull_sold_total = @silver.sold_oz_total(3) %>
              <% bull_usd = Silver.get_silver_price(bull_sold_total) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Own</th>
                  <th>Sold </th>
                  <th>Sold OZ Total</th>
                  <th>USD Sold Total</th>
                </tr>
                <tr>
                  <td><font color="white"><%= sold[4] %></font></td>
                  <td><font color="white"><%= sold[5] %></font></td>
                  <td><font color="white"><%= bull_sold_total %></font></td>
                  <td><font color="white">$<%= bull_usd %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Spot Average</h1>
              <% bars_spot_avg = @silver.spot_avg(3) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Spot Price</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= bars_spot_avg[0]    %></font></td>
                  <td><font color="white"><%=  bars_spot_avg[1]    %></font></td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <input id="tab4" type="radio" name="tabs" />
            <label for="tab4">Cryptocurrency</label>
            <div id="tab-panel4" class="tab-panel">
              <% status = 'prod.json' %>
              <% if status.eql?("prod.json") %>
              <b><font color="red">DEV mode</b></font>
              <% else %>
              <b><font color="green">PROD mode</b></font>
              <% end %>
              <% r = File.read('prod.json') %>
              <% j = JSON.parse(r)   %>           
              <% 
                xmr   =  CryptoPriceFinder.monero(j["monero"]).round(2).to_s  
                xlm   =  CryptoPriceFinder.stellar(j["stellar"]).round(2).to_s
                btc   =  CryptoPriceFinder.bitcoin(j["bitcoin"]).round(2).to_s
                total = xmr.to_i + xlm.to_i + btc.to_i
              %>
              <br><br>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Cryptocurrency</th>
                  <th>Amount USD</th>
                  <th>Crypto Amount</th>
                </tr>
                <tr>
                  <td><font color="white">Monero</font></td>
                  <td><font color="#1CE815">$<%= xmr %></font></td>
                  <td><font color="#1CE815"><%= j['monero']%> XMR</font></td>
                </tr>
                <tr>
                  <td><font color="white">Stellar</font></td>
                  <td><font color="#1CE815">$<%= xlm %></font></td>
                  <td><font color="#1CE815"><%= j['stellar']%> XLM</font></td>
                </tr>
                <tr>
                  <td><font color="white">Bitcoin</font></td>
                  <td><font color="#1CE815">$<%= btc %></font></td>
                  <td><font color="#1CE815"><%= j['bitcoin']%> BTC</font></td>
                </tr>
                <tr>
                  <td><font color="white">Total</font></td>
                  <td><font color="#1CE815">$<%= total.round(2).to_s %></font></td>
                  <td><font color="#1CE815"></font></td>
                </tr>
              </table><br><br>
            </div>
          </li>
          <li>
            <input id="tab5" type="radio" name="tabs" />
            <label for="tab5">Enter Silver</label>
            <div id="tab-panel5" class="tab-panel">
              <center>
                <pre><font color="green">                                                                                               

                                                                                                                                                                                                            
                                                                                                                                                                                                            
EEEEEEEEEEEEEEEEEEEEEE                           tttt                                                          SSSSSSSSSSSSSSS   iiii  lllllll                                                              
E::::::::::::::::::::E                        ttt:::t                                                        SS:::::::::::::::S i::::i l:::::l                                                              
E::::::::::::::::::::E                        t:::::t                                                       S:::::SSSSSS::::::S  iiii  l:::::l                                                              
EE::::::EEEEEEEEE::::E                        t:::::t                                                       S:::::S     SSSSSSS        l:::::l                                                              
  E:::::E       EEEEEEnnnn  nnnnnnnn    ttttttt:::::ttttttt        eeeeeeeeeeee    rrrrr   rrrrrrrrr        S:::::S            iiiiiii  l::::lvvvvvvv           vvvvvvv eeeeeeeeeeee    rrrrr   rrrrrrrrr   
  E:::::E             n:::nn::::::::nn  t:::::::::::::::::t      ee::::::::::::ee  r::::rrr:::::::::r       S:::::S            i:::::i  l::::l v:::::v         v:::::vee::::::::::::ee  r::::rrr:::::::::r  
  E::::::EEEEEEEEEE   n::::::::::::::nn t:::::::::::::::::t     e::::::eeeee:::::eer:::::::::::::::::r       S::::SSSS          i::::i  l::::l  v:::::v       v:::::ve::::::eeeee:::::eer:::::::::::::::::r 
  E:::::::::::::::E   nn:::::::::::::::ntttttt:::::::tttttt    e::::::e     e:::::err::::::rrrrr::::::r       SS::::::SSSSS     i::::i  l::::l   v:::::v     v:::::ve::::::e     e:::::err::::::rrrrr::::::r
  E:::::::::::::::E     n:::::nnnn:::::n      t:::::t          e:::::::eeeee::::::e r:::::r     r:::::r         SSS::::::::SS   i::::i  l::::l    v:::::v   v:::::v e:::::::eeeee::::::e r:::::r     r:::::r
  E::::::EEEEEEEEEE     n::::n    n::::n      t:::::t          e:::::::::::::::::e  r:::::r     rrrrrrr            SSSSSS::::S  i::::i  l::::l     v:::::v v:::::v  e:::::::::::::::::e  r:::::r     rrrrrrr
  E:::::E               n::::n    n::::n      t:::::t          e::::::eeeeeeeeeee   r:::::r                             S:::::S i::::i  l::::l      v:::::v:::::v   e::::::eeeeeeeeeee   r:::::r            
  E:::::E       EEEEEE  n::::n    n::::n      t:::::t    tttttte:::::::e            r:::::r                             S:::::S i::::i  l::::l       v:::::::::v    e:::::::e            r:::::r            
EE::::::EEEEEEEE:::::E  n::::n    n::::n      t::::::tttt:::::te::::::::e           r:::::r                 SSSSSSS     S:::::Si::::::il::::::l       v:::::::v     e::::::::e           r:::::r            
E::::::::::::::::::::E  n::::n    n::::n      tt::::::::::::::t e::::::::eeeeeeee   r:::::r                 S::::::SSSSSS:::::Si::::::il::::::l        v:::::v       e::::::::eeeeeeee   r:::::r            
E::::::::::::::::::::E  n::::n    n::::n        tt:::::::::::tt  ee:::::::::::::e   r:::::r                 S:::::::::::::::SS i::::::il::::::l         v:::v         ee:::::::::::::e   r:::::r            
EEEEEEEEEEEEEEEEEEEEEE  nnnnnn    nnnnnn          ttttttttttt      eeeeeeeeeeeeee   rrrrrrr                  SSSSSSSSSSSSSSS   iiiiiiiillllllll          vvv            eeeeeeeeeeeeee   rrrrrrr          
                                                                                                                 
                </pre></font>
                <br><br>
                
                <center>
                  <h1>Bars</h1>
                  <button class="button button2" onclick="document.location='/bar'">Bar</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_bar'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_bar'">Delete Row</button><br><br>
                  <h1>Junk</h1>
                  <button class="button button2" onclick="document.location='/junk'">Junk</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_junk'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_junk'">Delete Row</button><br><br>
                  <h1>Bullion</h1>
                  <button class="button button2" onclick="document.location='/bullion'">Bullion</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_bullion'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_bullion'">Delete Row</button><br><br>
                  <h1>Crypto</h1>
                  <button class="button button2" onclick="document.location='/crypto'">Crypto</button>&nbsp&nbsp
                  <h1>Cash</h1>
                  <button class="button button2" onclick="document.location='/cash'">Cash</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_cash'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_cash'">Delete Row</button><br><br>
                  <h1>Gold</h1>
                  <button class="button button2" onclick="document.location='/gold'">gold</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_gold'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_gold'">Delete Row</button><br><br>
                  <h1>Do Not Sell List</h1>
                  <button class="button button2" onclick="document.location='/dns'">DNS</button>&nbsp&nbsp
                  <button class="button" onclick="document.location='/status_dns'">Change Status</button>&nbsp&nbsp
                  <button class="button button3" onclick="document.location='/delete_dns'">Delete Row</button><br><br>
                </center>
            </div>
          </li>
          <li>
            <input id="tab6" type="radio" name="tabs" />
            <label for="tab6">Graphs</label>
            <div id="tab-panel6" class="tab-panel">
              <% 
                i    = Inventory.new
                own  = i.sold_own 
                bar  = own[0]
                junk = own[1]
                bull = own[4]

                pie = [["Bars", bar], ["Junk", junk], ["Bullion", bull]]
                
                g = Gruff::Pie.new
                g.title = 'Silver Pie Chart'
                pie.each do |data|
                  g.data(data[0], data[1])
                end
                g.write(File.join("public", "silver_pie.png")) 
                r = File.read('prod.json')
                j = JSON.parse(r)         
                xmr   =  CryptoPriceFinder.monero(j["monero"]).round(2).to_s
                xlm   =  CryptoPriceFinder.stellar(j["stellar"]).round(2).to_s
                btc   =  CryptoPriceFinder.bitcoin(j["bitcoin"]).round(2).to_s
                pie_crypto = [["Monero", xmr.to_s], ["Stellar", xlm.to_s], ["Bitcoin", btc.to_s]]
                g1 = Gruff::Pie.new
                g1.title = 'CryptoCurrency Pie Chart'
                pie_crypto.each do |data|
                  g1.data(data[0], data[1].to_i)
                end
                g1.write(File.join("public", "crypto_pie.png")) 
              %>
              <h1>Silver Pie Chart</h1>
              <img src="silver_pie.png" width="460" height="345"><br><br>
              <h1>CryptoCurrency Pie Chart</h1>
              <img src="crypto_pie.png" width="460" height="345">

              <h1></h1>
              <%
                silver = Inventory.new
                pre_names = [] 
                silver.select_method(1, html_table: false).each { |info| pre_names << info }

                silver.select_method(2, html_table: false).each { |info| pre_names << info }

                silver.select_method(3, html_table: false).each { |info| pre_names << info }

                names = {}
                i = 0
                pre_names.each do |name, count|
                  if !names.key?(name)
                    names[name] = count
                  else
                    names[name] +=  count
                  end
                end
                g2 = Gruff::Bar.new
                g2.show_labels_for_bar_values = true
                g2.title = 'Purchase Amounts from Sites'
                g2.sort = true
                names.to_a.each do |data|
                  g2.data(data[0], data[1].to_i, "#" + SecureRandom.hex(3))
                end
                g2.write(File.join("public", "purchase.png"))
              %> 
              <h1>Total Amount of Purchases at each Site</h1>
              <img src="purchase.png" width="460" height="345">
              <br>
              <%
                i    = Inventory.new
                list = i.list_sellers
                g3 = Gruff::Bar.new
                g3.show_labels_for_bar_values = true
                g3.title = 'Count Spent At Different Sites'
                g3.sort = true
                list.to_a.each do |data|
                  g3.data(data[0], data[1].to_i, "#" + SecureRandom.hex(3))
                end
                g3.write(File.join("public", "different_sites.png"))
              %>
              <h1>Amount spent at different Sites</h1>
              <img src="different_sites.png" width="100%" height="100%">
              <br>
              <%
                c = []
                s = Inventory.new
                cash =  s.select(4, html_table: true) 
                cash.each do |i|
                  if i[3].eql?("own")
                    c << [ i[2], i[4] ]
                  end
                end
                g4 = Gruff::Pie.new
                g4.title = 'Cash Pie Chart'
                c.each do |data|
                  g4.data(data[0], data[1].to_i, "#" + SecureRandom.hex(3))
                end
                g4.write(File.join("public", "cash_pie.png"))
              %>
              <h1>Cash Pie Chart</h1>
              <img src="cash_pie.png" width="1000%" height="1000%">
              <br>
              <h1>Number of Purchases by Year</h1>
              <% 
                i = Inventory.new
                years = i.list_years
                g = Gruff::Bar.new
                g.title = 'Numbers of purchases by years'
                g.show_labels_for_bar_values = true
                g.sort = true
                years.each do |data|
                  g.data(data[0], data[1])
                end
                g.write(File.join("public", "years_purchases.png"))
              %>
              <img src="years_purchases.png" width="100%" height="100%">
              <br>
              <h1>Number of Purchases by Month</h1>
              <% 
                i = Inventory.new
                years = i.list_months
                g = Gruff::Bar.new
                g.sort = true
                g.title = 'Numbers of purchases by Month'
                g.show_labels_for_bar_values = true
                years.each do |data|
                  g.data(data[0], data[1])
                end
                g.write(File.join("public", "months_purchases.png"))
              %>
              <img src="months_purchases.png" width="100%" height="100%">
            </div>
          </li>
          <li>
            <input id="tab7" type="radio" name="tabs" />
            <label for="tab7">Cash</label>
            <div id="tab-panel7" class="tab-panel">
              <br><br>
              <% total = 0 %>
              <% cash =  @silver.select(4, html_table: true) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>ID</th>
                  <th>Amount USD</th>
                  <th>From</th>
                  <th>Status</th>
                  <th>Current Amount</th>
                </tr>
                <% cash.each do |c| %>
                <tr>
                  <td><font color="white">  <%= c[0] %></font></td>
                  <td><font color="#1CE815"><%= c[1] %></font></td>
                  <td><font color="#1CE815"><%= c[2] %></font></td>
                  <td><font color="#1CE815"><%= c[3] %></font></td>
                  <td><font color="#1CE815"><%= c[4] %></font></td>
                </tr>
                <% total += c[4] %>
                <% end %>
              </table><br><br><br>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Cash Amount</th>
                </tr>
                <tr>
                  <td><font color="#1CE815">$<%= total %></font></td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <input id="tab8" type="radio" name="tabs" />
            <label for="tab8">Total</label>
            <div id="tab-panel8" class="tab-panel">
              <br><br>
              <%
                cash_total = 0
                @silver.select(4, html_table: true).each do |c|
                  cash_total += c[4]
                end
                bar     = @silver.select_total_oz(1) # 1: Bar
                junk    = @silver.select_total_oz(2) # 2: Junk
                bullion = @silver.select_total_oz(3) # 3: Bullion
                gold    = @silver.select_total_oz(5) # 5: Gold

                total          = bar + junk + bullion
                silver_total   = Silver.get_silver_price(total).round(2)
                gold_total     = Silver.get_gold_price(gold).round(2)
                begin
                  xmr   =  CryptoPriceFinder.monero(j["monero"]).round(2).to_s  
                  xlm   =  CryptoPriceFinder.stellar(j["stellar"]).round(2).to_s
                  btc   =  CryptoPriceFinder.bitcoin(j["bitcoin"]).round(2).to_s
                  crypto_total = xmr.to_i + xlm.to_i + btc.to_i
                  
                rescue 
                end
                final_total = cash_total.to_f + silver_total.to_f + crypto_total.to_f + gold_total.to_f
              %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Silver Amount USD</th>
                  <th>Cash Amount      </th>
                  <th>Crypto Amount USD</th>
                  <th>Gold Amount USD  </th>
                  <th>TOTAL            </th>
                </tr>
                <tr>
                  <td>$<%= silver_total %></td>
                  <td>$<%= cash_total   %></td>
                  <td>$<%= crypto_total %></td>
                  <td>$<%= gold_total   %></td>
                  <td>$<%= final_total  %></td>
                </tr>
              </table>
            </div>
          </li>
        <li>
          <input id="tab9" type="radio" name="tabs" />
          <label for="tab9">Gold</label>
          <div id="tab-panel9" class="tab-panel"><br><br>
            <h1><center>Select Gold</center></h1>
            <table style="width:100%" border="1" align="center">
              <tr>
                <th>ID</th>
                <th>Bought Date</th>
                <th>Spot Price</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Shipping</th>
                <th>Total</th>
                <th>Gram</th>
                <th>Name</th>
                <th>Status</th>
                <th>Sold Value</th>
                <th>Seller</th>
                <th>Method</th>
              </tr>
              <% gold =  @silver.select(5, html_table: true) %>
              <% gold.each do |i| %>
                <tr>
                  <td><font color="white"><%= i[0] %></font></td>
                  <td><font color="white"><%= i[1] %></font></td>
                  <td><font color="white"><%= i[2] %></font></td>
                  <td><font color="white"><%= i[3] %></font></td>
                  <td><font color="white"><%= i[4] %></font></td>
                  <td><font color="white"><%= i[5] %></font></td>
                  <td><font color="white"><%= i[6] %></font></td>
                  <td><font color="white"><%= i[7] %></font></td>
                  <td><font color="white"><%= i[8] %></font></td>
                  <td><font color="white"><%= i[9] %></font></td>
                  <td><font color="white"><%= i[10] %></font></td>
                  <td><font color="white"><%= i[11] %></font></td>
                  <td><font color="white"><%= i[12] %></font></td>
                </tr>
              <% end %>
            </table><br><br>
            <h1><center>Gold Method of Purchase</center></h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Method</th>
                  <th>Count</th>
                </tr>
                <% gold_meth = @silver.select_method(5, html_table: false) %>
                <% gold_meth.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                  </tr>
                <% end %>
              </table>
              <br><br>
              <h1>Gold Shipping Information</h1>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Total Cost</th>
                  <th>Average</th>
                  <th>Count  </th>
                </tr>
                  <% gold_shipping       = @silver.shipping_total(5)   %>
                  <% avg_gold_shipping   = @silver.shipping_avg(5)     %>
                  <tr>
                    <td><font color="white"><%= gold_shipping        %>  </font></td>
                    <td><font color="white"><%= avg_gold_shipping[0] %>  </font></td>
                    <td><font color="white"><%= avg_gold_shipping[1] %>  </font></td>
                  </tr>
              </table>
              <br><br>
              <h1>Gold Sold vs Own</h1>
              <% sold =  @silver.sold_own %>
              <% gold_sold_total = @silver.sold_oz_total(5) %>
              <% gold_usd = Silver.get_gold_price(gold_sold_total, gram: true) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Own</th>
                  <th>Sold </th>
                  <th>Sold Gram Total</th>
                  <th>USD Sold Total</th>
                </tr>
                <tr>
                  <td><font color="white"><%= sold[6] %></font></td>
                  <td><font color="white"><%= sold[7] %></font></td>
                  <td><font color="white"><%= gold_sold_total %></font></td>
                  <td><font color="white">$<%= gold_usd %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Gold Average Price</h1>
              <% gold_price_avg =  @silver.select_price_avg(5) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Price</th>
                </tr>
                <tr>
                  <td><font color="white"><%= gold_price_avg %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Gold Sold Total</h1>
              <% gold_sold_total = @silver.sold_total(5) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Sold Value</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= gold_sold_total %></font></td>
                </tr>
              </table>
              <br><br>
              <h1>Gold Spot Average</h1>
              <% gold_spot_avg = @silver.spot_avg(5) %>
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>Average Spot Price</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td><font color="white">$<%= gold_spot_avg[0]    %></font></td>
                  <td><font color="white"><%=  gold_spot_avg[1]    %></font></td>
                </tr>
              </table>
            </div>
          </div>
        </li>
        <li>
          <input id="tab10" type="radio" name="tabs" />
          <label for="tab10">Do not sell list</label>
          <div id="tab-panel10" class="tab-panel"><br><br>
            <h1><center>Do not sell list</center></h1>
              <h1><center>Select DNS List</center></h1> 
              <table style="width:50%" border="1" align="center">
                <tr>
                  <th>ID</th>
                  <th>Bought Date</th>
                  <th>Spot Price</th>
                  <th>Amount</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Total</th>
                  <th>OZ</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Sold Value</th>
                  <th>Seller</th>
                  <th>Method</th>
                </tr>
                <% bull =  @silver.select(6, html_table: true) %>
                <% bull.each do |i| %>
                  <tr>
                    <td><font color="white"><%= i[0] %></font></td>
                    <td><font color="white"><%= i[1] %></font></td>
                    <td><font color="white"><%= i[2] %></font></td>
                    <td><font color="white"><%= i[3] %></font></td>
                    <td><font color="white"><%= i[4] %></font></td>
                    <td><font color="white"><%= i[5] %></font></td>
                    <td><font color="white"><%= i[6] %></font></td>
                    <td><font color="white"><%= i[7] %></font></td>
                    <td><font color="white"><%= i[8] %></font></td>
                    <td><font color="white"><%= i[9] %></font></td>
                    <td><font color="white"><%= i[10] %></font></td>
                    <td><font color="white"><%= i[11] %></font></td>
                    <td><font color="white"><%= i[12] %></font></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </center>
  </body>
</html>
<!--  
Dedicated to C. Fly high brother!
-->