<html>
  <head>
    <title>Silver Mangement</title>
    <style>
      tr:nth-child(even) {background-color: #304254;}
      td { color: yellow; align: center; text-align: center;}
      th { color: #FF0000; text-align: center;}
    </style>
  </head>
  <body style="background-color: #121212;">
    <pre><font color="red"><center>

 

                                                                                                                                                                                         
                                                                                                                                                                                        
                          tttt                                    tttt                                                  DDDDDDDDDDDDD        NNNNNNNN        NNNNNNNN   SSSSSSSSSSSSSSS 
                       ttt:::t                                 ttt:::t                                                  D::::::::::::DDD     N:::::::N       N::::::N SS:::::::::::::::S
                       t:::::t                                 t:::::t                                                  D:::::::::::::::DD   N::::::::N      N::::::NS:::::SSSSSS::::::S
                       t:::::t                                 t:::::t                                                  DDD:::::DDDDD:::::D  N:::::::::N     N::::::NS:::::S     SSSSSSS
    ssssssssss   ttttttt:::::ttttttt      aaaaaaaaaaaaa  ttttttt:::::ttttttt    uuuuuu    uuuuuu      ssssssssss          D:::::D    D:::::D N::::::::::N    N::::::NS:::::S            
  ss::::::::::s  t:::::::::::::::::t      a::::::::::::a t:::::::::::::::::t    u::::u    u::::u    ss::::::::::s         D:::::D     D:::::DN:::::::::::N   N::::::NS:::::S            
ss:::::::::::::s t:::::::::::::::::t      aaaaaaaaa:::::at:::::::::::::::::t    u::::u    u::::u  ss:::::::::::::s        D:::::D     D:::::DN:::::::N::::N  N::::::N S::::SSSS         
s::::::ssss:::::stttttt:::::::tttttt               a::::atttttt:::::::tttttt    u::::u    u::::u  s::::::ssss:::::s       D:::::D     D:::::DN::::::N N::::N N::::::N  SS::::::SSSSS    
 s:::::s  ssssss       t:::::t              aaaaaaa:::::a      t:::::t          u::::u    u::::u   s:::::s  ssssss        D:::::D     D:::::DN::::::N  N::::N:::::::N    SSS::::::::SS  
   s::::::s            t:::::t            aa::::::::::::a      t:::::t          u::::u    u::::u     s::::::s             D:::::D     D:::::DN::::::N   N:::::::::::N       SSSSSS::::S 
      s::::::s         t:::::t           a::::aaaa::::::a      t:::::t          u::::u    u::::u        s::::::s          D:::::D     D:::::DN::::::N    N::::::::::N            S:::::S
ssssss   s:::::s       t:::::t    tttttta::::a    a:::::a      t:::::t    ttttttu:::::uuuu:::::u  ssssss   s:::::s        D:::::D    D:::::D N::::::N     N:::::::::N            S:::::S
s:::::ssss::::::s      t::::::tttt:::::ta::::a    a:::::a      t::::::tttt:::::tu:::::::::::::::uus:::::ssss::::::s     DDD:::::DDDDD:::::D  N::::::N      N::::::::NSSSSSSS     S:::::S
s::::::::::::::s       tt::::::::::::::ta:::::aaaa::::::a      tt::::::::::::::t u:::::::::::::::us::::::::::::::s      D:::::::::::::::DD   N::::::N       N:::::::NS::::::SSSSSS:::::S
 s:::::::::::ss          tt:::::::::::tt a::::::::::aa:::a       tt:::::::::::tt  uu::::::::uu:::u s:::::::::::ss       D::::::::::::DDD     N::::::N        N::::::NS:::::::::::::::SS 
  sssssssssss              ttttttttttt    aaaaaaaaaa  aaaa         ttttttttttt      uuuuuuuu  uuuu  sssssssssss         DDDDDDDDDDDDD        NNNNNNNN         NNNNNNN SSSSSSSSSSSSSSS   
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                        
                                                                                                                                                                                              
                                                                                                                                                                                              
                                                                                                                                                                                              
                                                                                                                                                                                              
                                                                                                                                                                                              
                                                                                                                                                                                              
                                                                                                                                                                                              

                                                                                                                                                                                                                                                                                                                              
    </pre></font></center>
    <font color="yellow">
      <center>
        <% @silver = Inventory.new %>
        <h1>
          <table style="width:50%" border="1" align="center">
            <tr>
              <th>ID</th>
              <th>Bought Date</th>
              <th>Spot Price</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Shipping</th>
              <th>Total</th>
              <th>OZ</th>
              <th>Name</th>
              <th>Status</th>
              <th>Sold Value</th>
              <th>Seller</th>
              <th>Method</th>
            </tr>
            <% dns =  @silver.select(6, html_table: true) %>
            <% dns.each do |i| %>
            <tr>
              <td><font color="white"><%= i[0] %></font></td>
              <td><font color="white"><%= i[1] %></font></td>
              <td><font color="white"><%= i[2] %></font></td>
              <td><font color="white"><%= i[3] %></font></td>
              <td><font color="white"><%= i[4] %></font></td>
              <td><font color="white"><%= i[5] %></font></td>
              <td><font color="white"><%= i[6] %></font></td>
              <td><font color="white"><%= i[7] %></font></td>
              <td><font color="white"><%= i[8] %></font></td>
              <td><font color="white"><%= i[9] %></font></td>
              <td><font color="white"><%= i[10] %></font></td>
              <td><font color="white"><%= i[11] %></font></td>
              <td><font color="white"><%= i[12] %></font></td>
            </tr>
            <% end %>
          </table>
          <form action="/status" method="post">
            <label for="change_status">Change Status:</label><br>
            <input type="number" id="status_dns" name="status_dns" required="required" value="1"><br>
            <label for="change_status">Sold Price:</label><br>
            <input type="number" id="sold_price" name="sold_price" required="required" value="1"><br>
            <input type="submit" value="Submit">
        </form><br><br>
        </h1>
      </center>
    </font>
  </body>
</html>
